{% set active = 'categories' %}
{% extends 'DevyUkrBookBundle::administrator.layout.html.twig' %}

{% block title %}
  {{ entity.title }}
{% endblock %}

{% block body -%}
  <h1>Category edit</h1>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  <input type="submit" value="Update" class="btn btn-success pull-right">
  {{ form_end(form) }}
{% endblock %}
