{% set active = 'categories' %}
{% extends 'DevyUkrBookBundle::administrator.layout.html.twig' %}

{% block title %}
  Category creation
{% endblock %}

{% block body -%}
  <h1>Category creation</h1>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  <input type="submit" value="Create" class="btn btn-success pull-right">
  {{ form_end(form) }}

{% endblock %}
