{% set active = 'posts' %}
{% extends 'DevyUkrBookBundle::administrator.layout.html.twig' %}

{% block title %}
  Post creation
{% endblock %}

{% block body -%}
  <h1>Post creation</h1>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  <input type="submit" value="Create" class="btn btn-success pull-right">
  {{ form_end(form) }}
{% endblock %}
