.img-rounded {
    max-width: 100%;
    max-height: 400px;
}

.item {
    /*background: #f4f4f4;*/
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);

    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -kthtml-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.star {
    font-size: 26px;
}
