{% set active = 'brands' %}
{% extends 'DevyUkrBookBundle::administrator.layout.html.twig' %}

{% block title %}
  Brand creation
{% endblock %}


{% block body -%}
  <h1>Brand creation</h1>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  <input type="submit" value="Create" class="btn btn-success pull-right">
  {{ form_end(form) }}

{% endblock %}
