{% set active = 'brands' %}
{% extends 'DevyUkrBookBundle::administrator.layout.html.twig' %}

{% block title %}
  Brand creation
{% endblock %}


{% block body -%}
  <h1>Brand creation</h1>

  {{ form(form) }}

  <ul class="record_actions">
    <li>
      <a class="btn btn-default" href="{{ path('brand') }}">
        Back to the list
      </a>
    </li>
  </ul>
{% endblock %}
