Devy\UkrBookBundle\Entity\Brand:
  type: entity
  repositoryClass: Devy\UkrBookBundle\Repository\BrandRepository
  fields:
    id:
      id: true
      type: integer
      generator:
        strategy: AUTO
    name:
      type: string
      unique: true
      length: 45
      nullable: false
    is_active:
      type: boolean
      nullable: true
  oneToMany:
    Product:
      targetEntity: Devy\UkrBookBundle\Entity\Product
      mappedBy: Brand
