Devy\UkrBookBundle\Entity\Order:
  type: entity
  table: Orders
  fields:
    id:
      id: true
      type: integer
      generator:
        strategy: AUTO
    shipping_address:
      type: string
      length: 250
      nullable: true
    status:
      type: integer
      nullable: true
    created_at:
      type: datetime
      nullable: true
    amount:
      type: integer
      nullable: true
  manyToOne:
    User:
      targetEntity: Devy\UkrBookBundle\Entity\User
      inversedBy: Orders
      joinColumns:
        user_id:
          referencedColumnName: id
  manyToMany:
    Products:
      targetEntity: Devy\UkrBookBundle\Entity\Product
      inversedBy: Orders
      joinTable:
        name: OrderProduct
        joinColumns:
          order_id:
            referencedColumnName: id
            nullable: false
        inverseJoinColumns:
          product_id:
            referencedColumnName: id
            nullable: false
