Devy\UkrBookBundle\Entity\Product:
  type: entity
  repositoryClass: Devy\UkrBookBundle\Repository\ProductRepository
  fields:
    id:
      id: true
      type: integer
      generator:
        strategy: AUTO
    title:
      type: string
      unique: true
      length: 50
      nullable: false
    description:
      type: string
      length: 140
      nullable: true
    description_full:
      type: text
      nullable: true
    is_active:
      type: boolean
      nullable: true
    created_at:
      type: datetime
      nullable: true
    updated_at:
      type: datetime
      nullable: true
    price:
      type: float
      nullable: false
    page_title:
      type: string
      length: 50
      nullable: true
    meta_description:
      type: text
      nullable: true
    meta_keywords:
      type: text
      nullable: true
  oneToOne:
    Image:
      targetEntity: Devy\UkrBookBundle\Entity\File
      cascade: [persist]
      joinColumns:
        file_id:
          referencedColumnName: id
          unique: true
  oneToMany:
    Reviews:
      targetEntity: Devy\UkrBookBundle\Entity\Review
      mappedBy: Product
      cascade: [persist, remove]
    ProductAttributes:
      targetEntity: Devy\UkrBookBundle\Entity\ProductAttribute
      mappedBy: Product
      cascade: [persist, remove]
    OrderProduct:
      targetEntity: Devy\UkrBookBundle\Entity\OrderProduct
      mappedBy: Product
      cascade: [persist, remove]
  manyToOne:
    Category:
      targetEntity: Devy\UkrBookBundle\Entity\Category
      inversedBy: Products
      cascade: [persist]
      joinColumns:
        category_id:
          referencedColumnName: id
          onDelete: CASCADE
    Brand:
      targetEntity: Devy\UkrBookBundle\Entity\Brand
      inversedBy: Product
      cascade: [persist]
      joinColumns:
        brand_id:
          referencedColumnName: id
  lifecycleCallbacks:
    prePersist: [setCreatedAtValue]
    preUpdate: [setUpdatedAtValue]
