home:
    path: /
    defaults: { _controller: DevyFrontendBundle:Frontend:index }

front_category:
    path: /category/{categoryId}
    defaults: { _controller: DevyFrontendBundle:Frontend:category }

subscriber:
    prefix: /subscriber
    resource: "@DevyFrontendBundle/Resources/config/subscriber.yml"
