home:
    path: /
    defaults: { _controller: DevyFrontendBundle:Frontend:index }

front_category:
    path: /category/{categoryId}
    defaults: { _controller: DevyFrontendBundle:Frontend:category }

front_brand:
    path: /brand/{brandId}
    defaults: { _controller: DevyFrontendBundle:Frontend:brand }

front_product:
    path: /product/{productId}
    defaults: { _controller: DevyFrontendBundle:Frontend:product }

add_review:
    path: /review/add/{productId}
    defaults: { _controller: DevyFrontendBundle:Frontend:addReview }

front_search:
    path: /search
    defaults: { _controller: DevyFrontendBundle:Frontend:search }

subscriber:
    prefix: /subscriber
    resource: "@DevyFrontendBundle/Resources/config/subscriber.yml"

cart:
    prefix: /cart
    resource: "@DevyFrontendBundle/Resources/config/cart.yml"
