home:
    path: /
    defaults: { _controller: DevyFrontendBundle:Frontend:index }

front_category:
    path: /category/{categoryId}
    defaults: { _controller: DevyFrontendBundle:Frontend:category }

front_brand:
    path: /brand/{brandId}
    defaults: { _controller: DevyFrontendBundle:Frontend:brand }

front_product:
    path: /product/{productId}
    defaults: { _controller: DevyFrontendBundle:Frontend:product }

add_review:
    path: /review/add/{productId}
    defaults: { _controller: DevyFrontendBundle:Frontend:addReview }

front_search:
    path: /search
    defaults: { _controller: DevyFrontendBundle:Frontend:search }

front_post:
    path: /post/{postId}
    defaults: { _controller: DevyFrontendBundle:Frontend:post }
    requirements:
        postId: \d+

checkout:
    path: /checkout
    defaults: { _controller: DevyFrontendBundle:Frontend:checkout }

thank_you:
    path: /thank_you
    defaults: { _controller: DevyFrontendBundle:Frontend:thankYou }

subscriber:
    prefix: /subscriber
    resource: "@DevyFrontendBundle/Resources/config/subscriber.yml"

cart:
    prefix: /cart
    resource: "@DevyFrontendBundle/Resources/config/cart.yml"

contact:
    path: /contact
    defaults: { _controller: DevyFrontendBundle:Frontend:contact }

about:
    path: /about
    defaults: { _controller: DevyFrontendBundle:Frontend:about }
