{% set active = 'categories' %}
{% extends 'DevyFrontendBundle::products_page.html.twig' %}

{% block title %}
  {{ brand.name }}
{% endblock %}

{% block marketing %}
  <h1>{{ brand.name }}</h1>
  <hr>
  <div class="clearfix">
    <div class="pull-left"><h4>{{ brand.activeProducts|length }} items</h4></div>
  </div>
  <hr>
  {% include 'DevyFrontendBundle::partial_products_block.html.twig' with { 'products': products } %}
  {% include 'DevyFrontendBundle:partial:pagination_brand.html.twig' %}
{% endblock %}
